mat-form-field {
  width: 250px;
}

.input-wrapper {
  margin-top: 10px;
}

.right-align {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.center-align {
  text-align: center;
}

.hyperlink {
  color: rgb(59, 59, 250);
  text-decoration: none;
}

/* for wrapper class */
.auth-card-container {
  width: 320px;
  /* min-height: 450px; */
  margin: 60px auto;
  align-items: center;
}

.auth-card-title-container {
  text-align: center;
}
.auth-card-heading {
  font-size: 1.3rem;
}

.disable-button {
  pointer-events: none;
}

.next-content-wrapper {
  margin-top: 25px;
  margin-bottom: 20px;
}
