<app-auth-template [title]="'Forgot Password'" [title_icon]="'key'">
    <form [formGroup]="form" (ngSubmit)="forgotPassword()">
        <div class="input-wrapper">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [formControlName]="'email'" required />
                <mat-hint>Enter your account email, you will get a link to reset password shortly</mat-hint>
                <mat-error *ngIf="form.get('email')?.invalid">Provide a valid username or email</mat-error>
            </mat-form-field>
        </div>
        <div class="input-wrapper" style="margin-top: 25px;">
            <button class="right-align" mat-flat-button color="primary" type="submit" color="accent">
                Submit
            </button>
        </div>
        <app-bottom-links [selection]="'register'"></app-bottom-links>
        <app-bottom-links [selection]="'login'"></app-bottom-links>
    </form>

</app-auth-template>